body {
  background-image: url("../img/back4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  float: right;
  margin-right: 345px;
  margin-top: 50px;
  background-color: rgb(255, 250, 229, .90);
  max-width: 500px;
  padding: 10px;
  border: groove black 1px;
  border-radius: 30px;
}

.form-check {
  font-family: 'Quicksand', sans-serif;
}

#output {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  background-color: rgb(0, 0, 0, .90);
  color: white;
  border-radius: 15px;
  font-family: 'Quicksand', sans-serif;
}

label {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Jua', sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Dawning of a New Day', cursive;
}

h2 {
  font-size: 35px;
  margin-top: -5px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.row {
  max-width: 200px;
  margin-left: 1px;
  font-family: 'Quicksand', sans-serif;
}

.hub {
  max-width: 108px;
  margin-left: 20px;
  border-radius: 5px;
}

.post {
  max-width: 90px;
  border-radius: 10px;
  margin-left: 40px;
}

.caviar {
  max-width: 85px;
  border-radius: 12px;
  margin-left: 60px;
}

p {
  font-size: 18px;
  font-family: 'Jua', sans-serif;
}
img:hover {
  border: groove white;
}
